body {
	background:#306EFF;
	margin:0px;
	padding:0px;
}

#wraper {
	background:#FFF;
	padding:10px;
	width:380px;
	margin:30px auto;
	border-radius:10px;
	box-shadow: 0 0 .7em rgba(0,0,0,1);
}

#wraper form {
	margin:0px;
}

#content	 {
	border:3px SOLID #306EFF;
	border-radius:10px;
	padding:10px;
	background:#FAF8CC;
}

#content input[type="text"], input[type="file"]  {
	border:1px SOLID #306EFF;
	padding:2px 0px 2px 0px;
	text-indent:3px;
	border-radius:5px;
	font-size:16px;
}

#content input[type="submit"], input[type="button"] {
	color:#FFF;
	background:#306EFF;
	font-size:16px;
	border-radius:10px;
	box-shadow:0 0 .2em rgba(0,0,0,1);
}

#content td {
	padding:1px;
}

#content #bots {
	width:100%;
	text-align:center;
}

#header {
	color:#FFFF00;
	background:#306EFF;
	text-align:center;
	font-size:25px;
	font-weight:bold;
	font-variant:small-caps;
	height:28px;
	line-height:28px;
	margin-bottom:10px;
	border-radius:10px;
}

#footer {
	color:#FFF;
	background:#000;
	height:28px;
	line-height:28px;
	text-align:center;
	font-weight:bold;
	font-size:15px;
	font-family:monospace;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-top:10px;
	border-radius:10px;
}