body {
	background:#306EFF;
	margin:0px;
	padding:0px;
}

#wraper {
	background:#FFF;
	padding:10px;
	width:440px;
	margin:100px auto;
	border-radius:10px;
	box-shadow:0 0 .7em rgba(0,0,0,1);
}

#wraper form {
	margin:0px;
}

#header {
	color:#FFFF00;
	background:#306EFF;
	text-align:center;
	border-radius:10px;
	height:25px;
	line-height:25px;
	text-transform:uppercase;
	font-size:20px;
	letter-spacing:2px;
	margin-bottom:10px;
}

#content #lefty {
	width:300px;
	text-align:center;
	float:right;
	margin-bottom:3px;
	
}

#lefty input[type="text"], input[type="password"] {
	text-indent:4px;
	font-size:18px;
	padding:3px 0px 3px 0px;
	border:1px SOLID #306EFF;
	border-radius:4px;
}

#reset {
	clear:both;
}

#righty {
	
	width:120px;
	float:left;
	text-align:center;
}

#righty img {
	height:100px;
	width:100px;
	padding:5px;
	margin-top:6px;
	box-shadow:0 0 .2em rgba(0,0,0,1);
	border-radius:10px;
}

#lower 	{
	width:100%;
	text-align:center;
}

#lower input[type="button"], input[type="submit"] {
	color:#FFF;
	background:#306EFF;
	font-size:16px;
	border-radius:10px;
	box-shadow:0 0 .2em rgba(0,0,0,.5);	
}
	


