body {
	background:#306EFF;
	margin:0px;
	padding:0px;
}

#wraper {
	background:#FFF;
	padding:10px;
	width:650px;
	margin:30px auto;
	border-radius:10px;
	box-shadow:0 0 .7em rgba(0,0,0,1);
}

#wraper form {
	margin:0px;
}

#header {
	color:#FFF;
	background:#306EFF;
	height:30px;
	line-height:30px;
	text-align:center;	
	font-variant:small-caps;
	font-size:22px;
	font-weight:bold;
	letter-spacing:2px;
	margin-bottom:10px;
	border-radius:10px;
	text-shadow:1px 1px 1px #000;
}

#content #sider {
	width:300px;
	float:left;
	margin-bottom:10px;
	font-family:serif;
}

#sider input[type="text"] {
	font-size:17px;
	text-indent:5px;
	border:1px SOLID #000;
	padding:3px 0px 3px 0px;
	border-radius:7px;
	background: #FFE87C;
	letter-spacing:1px;
	font-family:serif;
	box-shadow: 0 0 .2em rgba(0,0,0,.2);
}

#content   {
	border:4px SOLID #306EFF;
	padding:10px;
	margin-bottom:10px;
	border-radius:10px;
}

#content #imagery {
	float:right;
	width:250px;
	text-align:center;
}

#imagery img {
	margin-top:8px;
	height:200px;
	width:200px;
	box-shadow:0 0 .4em rgba(0,0,0,1);
	padding:10px;
	border-radius:15px;
	margin-bottom:10px;
}

#imagery table {
	width:100%;
	text-align:center;
}

#lower input[type="button"] {
	color:#FFF;
	background:#306EFF;
	padding:3px;
	margin:5px;
	font-size:16px;
	border-radius:10px;
	box-shadow:0 0 .2em rgba(0,0,0,1);
}

#reset {
	clear:both;
}

#footer {
	color:#FFF;
	background:#000;
	height:30px;
	line-height:30px;	
	text-align:center;
	font-family:monospace;
	font-size:14px;
	text-transform:uppercase;
	letter-spacing:1px;
	border-radius:10px;
}